@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto&display=swap');

:root {
    --primary-color: #8F3700;
    --secondary-color: #F5F5F5;
    --accent1-color: #A3C2E0;
    --accent2-color: #ED5D31;

    --heading-font: Lobster, serif;
    --paragraph-font: Roboto, serif;

    --nav-background-color: #F5F5F5;
    --nav-link-color: #40c5c9;
    --nav-hover-link-color: #ffffff;
    --nav-hover-background-color: #40c5c9;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

header {
    padding: 20px;
    background-color: var(--accent1-color);
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}

nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);
}