@font-face {
    font-family: 'rock_saltregular';
    src: url('./font/rocksalt1-webfont.woff2') format('woff2'),
         url('./fonts/rocksalt1-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
nav {
    background-color: steelblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

h1 {
    color: steelblue;
}

img {
    width: 150px;
    height: auto;
    border: 1px solid steelblue;
    padding: 2px;
    box-shadow: 0 0 30px gray;
}

p {
    padding: 10px;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
} 

h1 {
    font-family: rock_saltregular, 'Bradley Hand', cursive;
}